@use '../colors' as *;
@use 'sass:color';
@import '../util/banner';

// SECTION 1 START --- INTRO

.intro_container {
    width: 100%;
    height: 60vh;
    min-height: 600px;
    background: $camel1;
    position: relative;

    svg {
        position: absolute;
        bottom: 0;
        user-select: none;
        -webkit-user-drag: none;
        z-index: 0;
    }
}

.intro {
    color: $brown;
    margin: 0 auto;
    padding: 15vh 0 0 0;
    text-align: center;
    width: fit-content;
    user-select: none;

    .intro_titles > * {
        margin: 0
    }

    .intro_content {
        margin-top: 5rem;
    }

    .intro_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        :first-child {
            background-color: $brown;
            color: $yellow;
        }
        :first-child:hover {
            background-color: color.adjust($brown, $alpha: -0.1);
            color: $yellow;
        }

        :nth-child(2) {
            background-color: #fff;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5rem;
            width: 16rem;
            height: 5rem;
            margin: 2rem 0 0 0;
            cursor: pointer;
            transition: 500ms;
            z-index: 2;
        }
        a:hover {
            box-shadow: 0 0 .8rem #000;
        }

        
    }
}

// TODO put into a seperate file
@mixin animate($animation, $duration, $times) {
  animation: $animation $duration $times;
}
  
  @mixin keyframes($name) {
    @keyframes #{$name} {
      @content;
    }
  }
  
  @mixin moveClouds($time) {
    @include keyframes(moveClouds) {
      0% {
        transform: translate(0, 0);
      }

      25% {
        transform: translate(-4rem, -3rem);
      }
  
      50% {
        transform: translate(4rem, 3rem);
      }

      75% {
        transform: translate(-2rem, -2rem);
      }
  
      100% {
        transform: translate(0, 0);
      }
    }
  
    @include animate(moveClouds, $time, infinite);
  }

  .mountains svg g path:nth-of-type(n + 2) {
    @include moveClouds(15s);
  }

// SECTION 1 END --- INTRO END

.section2 {
    @include banner(transparent, 30s, $grey, $white, $grey, $white, $grey);
}


// SECTION 3 START

.section3 {
    height: 25vh;
    min-height: 20rem;
    background: color.adjust($camel1, $alpha: -0.5);
}



/*  CODE FOR MOUSE FOLLOWING ANIMATION
.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    // max-width: 20rem;
    max-height: 30rem;
    padding: 1.5rem;
    margin: 4rem 0 0 0;
    
}

.drone_container {
    position: relative;
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    // background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    margin: 0 auto;
}

.drone {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    transition: transform 800ms ease-out;
    will-change: transform;
    pointer-events: none;
}

.intro {
    height: 30rem;
}
*/