@use '../colors' as *;
@use '../fontSizes' as *;
@use 'sass:color';
@import '../util/banner';

// TODO put into a seperate file
@mixin animate($animation, $duration, $times) {
  animation: $animation $duration $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin moveClouds($time) {
  @include keyframes(moveClouds) {
    0% {
      transform: translate(0, -8rem);
    }

    25% {
      transform: translate(-4rem, -9rem);
    }

    50% {
      transform: translate(4rem, -3rem);
    }

    75% {
      transform: translate(-2rem, -8rem);
    }

    100% {
      transform: translate(0, -8rem);
    }
  }

  @include animate(moveClouds, $time, infinite);
}

.mountains svg g path:nth-of-type(n + 2) {
  @include moveClouds(15s);
}


// >>> SECTION 1 START --- INTRO

.intro_container {
  direction: rtl;
  width: 100%;
  height: 70vh;
  min-height: 50rem;
  background: $camel1;
  position: relative;

  svg {
      position: absolute;
      bottom: 0;
      user-select: none;
      -webkit-user-drag: none;
      z-index: 0;
  }
}

.intro {
    color: $brown;
    margin: 0 auto;
    padding: 15vh 0 0 0;
    text-align: center;
    width: fit-content;
    user-select: none;

    .title {
      color: $plum;
    }

    .intro_titles > * {
        margin: 0
    }

    .intro_content {
        margin-top: 5rem;
    }

    .intro_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        :first-child {
            background-color: $brown;
            color: $yellow;
        }
        :first-child:hover {
            background-color: color.adjust($brown, $alpha: -0.1);
            color: $yellow;
        }

        :nth-child(2) {
            background-color: #fff;
            color: #000;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5rem;
            width: 16rem;
            height: 5rem;
            margin: 2rem 0 0 0;
            cursor: pointer;
            transition: 500ms;
            z-index: 2;
            text-decoration: none;
        }
        a:hover {
            box-shadow: 0 0 .8rem #000;
            background: $grey;
        }

        
    }
}

// ** SECTION 1 END --- INTRO END

// >>> SECTION 2 START

.section2 {
    @include banner(transparent, 30s, $grey, $white, $grey, $white, $grey);
}

// ** SECTION 2 END

// >>> SECTION 3 START

.section3 {
    background: color.adjust($camel1, $alpha: -0.5);

    .whyUs {
      padding: 5rem 0;
      text-align: center;

      div {
        height: 10vh;
        min-height: 10rem;
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }

    .whyUs div:first-child {
      margin: 0 0 0 2rem;
    }

    .whyUs div:nth-child(2) {
      border-width: 0 .1rem;
      border-color: #000;
      border-style: solid;
    }

    .whyUs div:last-child{
      margin: 0 2rem 0 0;
    }

}

// ** SECTION 3 END

// >>> SECTION 4 START

.section4 {
  margin-top: 4rem;

  .section4title {
    direction: rtl;
    margin: 0 3rem;
  }
}

.searchInput {
  display: flex;
  flex-direction: row;
  direction: rtl;
  width: 70%;
  margin: 4rem auto 2rem auto;
  height: 3rem;
  transition: 200ms;
}

.searchInput:focus {
  outline: none;
  background: $grey;
  border: .1rem solid #000;
  border-radius: .2rem;
  padding: 0 .4rem;
}

// ** SECTION 4 END

// >>> SECTION 5 -- OUTRO -- START

.section5 {
  background: $camel1;
  height: 25vh;
  min-height: 30rem;
  margin: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outroBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  direction: rtl;
  text-align: center;

  div {
    background: color.adjust($plum, $alpha: -0.2);
    border-radius: 2.4rem;
    color: #fff;
    padding: 2rem;
    width: 30vw;
    min-width: 30rem;
    transition: 500ms;
  }

  div:hover {
    background: $plum;
  }
}

.infoContainer {
  direction: rtl;
}

.info {
  text-align: center;
}

.infoIconContainer {
  svg {
    font-size: $h0;
    color: $pink;
  }
}

.telephone {
  direction: ltr;
}

// ** SECTION 5 END





/* CODE FOR MOUSE FOLLOWING ANIMATION
.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    // max-width: 20rem;
    max-height: 30rem;
    padding: 1.5rem;
    margin: 4rem 0 0 0;
    
}

.drone_container {
    position: relative;
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    // background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    margin: 0 auto;
}

.drone {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    transition: transform 800ms ease-out;
    will-change: transform;
    pointer-events: none;
}

.intro {
    height: 30rem;
}
*/