@use '../colors' as *;

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
  background: $camel1;
  padding: 1rem 0;
  box-shadow: 0 0 .8rem #000;

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 2rem 0 0;
    padding: 0;

    li:not(li:last-of-type) {
      padding: 0 3rem;
    }

    li:last-of-type {
      padding: 0 0 0 3rem;
    }
  }

  a {
    text-decoration: none;
    color: $brown;
    transition: 500ms;
  }

  a:hover {
    color: $brown1;
  }
} 