@use '../colors' as *;
@use 'sass:color';

.resumeListContainer {
  width: 50vw;
  height: 30vh;
  min-height: 15rem;
  background: $grey;
  border-radius: .4rem;

  direction: rtl;

  margin: 0 auto;

  overflow: auto;

  ul {
    padding: 1rem;
  }

  li {
    list-style: none;
  }
}