$white: #fff;
$grey: #f9f9f9;

$pink: #EF476F;
$yellow: #FFD166;
$green: #06D6A0;
$blue: #118AB2;
$navy: #073B4C;

$plum: #6F1D1B;
$plum1: #A42A28;
$camel: #BB9457;
$camel1: #FFE6A7;
$camel2: #FFE7AD;
$brown: #432818;
$brown1: #99582A;