@use './colors' as *;
@use './fontSizes' as *;
@import './fontSizes';
@import './fonts';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  //Temporary fonts
  font-family: $fonts !important;
  // sets 1 rem to 10px
  font-size: 10px;
  scroll-behavior: smooth;
}

.centered {
  margin: 0 auto;
}

.text-centered {
  text-align: center;
}

// Scrollbar Style
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey;
  border-radius: 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $plum;
  border-radius: .4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $plum1;
}

// * Font Sizes
h1, .h1 {
  font-size: $h1;
}
h2, .h2 {
  font-size: $h2;
}
h3, .h3 {
  font-size: $h3;
}
h4, .h4 {
  font-size: $h4;
}
p, a, .p, .a, li, input {
  font-size: $p;
}
span, .span {
  font-size: $span
}

@media only screen and (max-width: 992px) {
  h1, .h1 {
    font-size: $h1-tablet;
  }
  h2, .h2 {
    font-size: $h2-tablet;
  }
  h3, .h3 {
    font-size: $h3-tablet;
  }
  h4, .h4 {
    font-size: $h4-tablet;
  }
  p, a, .p, .a, li, input {
    font-size: $p-tablet;
  }
}

@media only screen and (max-width: 768px) {
  h1, .h1 {
    font-size: $h1-phone;
  }
  h2, .h2 {
    font-size: $h2-phone;
  }
  h3, .h3 {
    font-size: $h3-phone;
  }
  h4, .h4 {
    font-size: $h4-phone;
  }
  p, a, .p, .a, li, input {
    font-size: $p-phone;
  }
}

@media only screen and (max-width: 576px) {
  h1, .h1 {
    font-size: $h1-xs;
  }
  h2, .h2 {
    font-size: $h2-xs;
  }
  h3, .h3 {
    font-size: $h3-xs;
  }
  h4, .h4 {
    font-size: $h4-xs;
  }
  p, a, .p, .a, li, input {
    font-size: $p-xs;
  }
}